body {
  background-image: url("http://www.surftin.com/images/space-stars-image-favim_360187.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

h1 {
  font-size: 60px;
  text-shadow: 5px 5px 5px #414A6D;
  text-transform: uppercase;
  text-align: center;
  font-family: Oswald;
  color: #FFFFFF;
}

h2 {
  font-size: 100%;
  font-family: Oswald;
  text-align: center;
  color: #FFFFFF;
}

nav {
text-align: center;


}

a {
  color: #4CA5A9;
  text-decoration: none;
}

a:hover {
  color: #414A6D;
  
}

a:active {
  color: #383158;

}

ul {
  list-style-type: none;
}

.float {
  text-align: center;
}